<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="wpOceans">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>Wedding</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="{% static 'css/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/flaticon.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/slick.css' %}" rel="stylesheet">
    <link href="{% static 'css/slick-theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/swiper.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/nice-select.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.transitions.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery.fancybox.css' %}" rel="stylesheet">
    <link href="{% static 'css/odometer-theme-default.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <style>
        #clock .box span {
            font-size: 25px !important;
        }

        .brfc__span {
            font-weight: bold;
            margin: 0;
            margin-top: 15px;
        }

        .brfc {
            padding: 0 !important;
        }

        .trtr__ul li {
            font-size: 30px !important;
        }

        .brfc__p {
            font-size: 30px !important;
            margin: 0 !important;
        }

        .trtr {
            width: 700px;
            margin: 0 auto;
        }

        .brfc__h {
            font-size: 70px !important;
            font-weight: bold;
            margin: 0 !important;
            line-height: 105px;
        }

        @media screen and (max-width: 760px) {
            .brfc {
                margin-top: 50px !important;
            }

            .brfc__h {
                font-size: 50px !important;
                font-weight: bold
            }

            .brfc__p {
                font-size: 20px !important;
            }
        }

        @media screen and (max-width: 750px) {
            .brfc__p {
                padding-bottom: 10px;
            }
        }

        @media screen and (max-width: 1400px) {
            .title__rt {
                font-size: 75px !important;
            }
        }

        @media screen and (max-width: 1040px) {
            .title__rt {
                font-size: 50px !important;
            }
        }

        @media screen and (max-width: 560px) {
            .title__rt {
                font-size: 35px !important;
            }
        }

        @media screen and (max-width: 780px) {
            .trtr {
                width: 570px;
            }
        }

        @media screen and (max-width: 660px) {
            .trtr {
                width: 480px;
            }
        }

        @media screen and (max-width: 510px) {
            .trtr {
                width: 400px;
            }

            .trtr__ul li {
                font-size: 24px !important;
            }
        }

        @media screen and (max-width: 437px) {
            .trtr {
                width: 360px;
            }
        }

        @media screen and (max-width: 745px) {
            .brfc {
                padding: 0 !important;
            }
        }
    </style>
</head>

<body style="font-family: 'Dancing Script', cursive;">

<!-- start page-wrapper -->
<div class="page-wrapper">
    <!-- start preloader -->
    <div class="preloader">
        <div class="vertical-centered-box">
            <div class="content">
                <div class="loader-circle"></div>
                <div class="loader-line-mask">
                    <div class="loader-line"></div>
                </div>
                <img src="{% static 'images/favicon.png' %}" alt="">
            </div>
        </div>
    </div>
    <!-- end preloader -->
    <!-- Start header -->
    <header id="header">
        <div class="wpo-site-header wpo-header-style-3">
            <nav class="navigation navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-3 col-3 d-lg-none dl-block">
                            <div class="mobail-menu">
                                <button type="button" class="navbar-toggler open-btn">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar first-angle"></span>
                                    <span class="icon-bar middle-angle"></span>
                                    <span class="icon-bar last-angle"></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-6">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#"><img src="{% static 'images/logo-2.png' %}"
                                                                      alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-1 col-1">
                            <div id="navbar" class="collapse navbar-collapse navigation-holder">
                                <button class="menu-close"><i class="ti-close"></i></button>
                                <ul class="nav navbar-nav mb-2 mb-lg-0">
                                    <li class="menu-item-has-children">
                                        <a href="#">Home</a>
                                    </li>
                                    <li>
                                        <a href="#event">Manzil</a>
                                    </li>
                                </ul>

                            </div><!-- end of nav-collapse -->
                        </div>
                    </div>
                </div><!-- end of container -->
            </nav>
        </div>
    </header>
    <!-- end of header -->
    <!-- start of hero -->
    <section class="wpo-hero-slider wpo-hero-style-3">
        <div class="wedding-announcement">
            <div class="couple-text">
                <h2 class="wow slideInUp title__rt" data-wow-duration="1s"
                    style="font-family: 'Dancing Script', cursive;">
                    Ruslanjon va Farangizxon
                    <br>
                    Visol oqshomi
                </h2>
                <p class="wow slideInUp" data-wow-duration="1.8s" style="font-family: 'Dancing Script', cursive;">18
                    Noyabr 2022</p>
                <!-- start wpo-wedding-date -->
                <div class="wpo-wedding-date wow slideInUp" data-wow-duration="2.1s">
                    <div class="clock-grids">
                        <div id="clock"></div>
                    </div>
                </div>
                <!-- end wpo-wedding-date -->
            </div>
        </div>

        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image" data-background="{% static 'images/slider/slide-2.jpg' %}">
                    </div> <!-- end slide-inner -->
                </div> <!-- end swiper-slide -->

                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image" data-background="{% static 'images/slider/slide-1.jpg' %}">
                    </div> <!-- end slide-inner -->
                </div> <!-- end swiper-slide -->

                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image" data-background="{% static 'images/slider/slide-3.jpg' %}">
                    </div> <!-- end slide-inner -->
                </div> <!-- end swiper-slide -->
            </div>
            <!-- end swiper-wrapper -->

            <!-- swipper controls -->
            <div class="swiper-pagination"></div>
            <div class="next-prev-btn">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </section>
    <!-- end of hero slider -->


    {#    <!-- start couple-section -->#}
    {#    <section class="couple-section pt-160 section-padding" id="couple">#}
    {#        <div class="container">#}
    {#            <div class="row align-items-center">#}
    {#                <div class="col col-xs-12">#}
    {#                    <div class="couple-area clearfix">#}
    {#                        <div class="text-grid bride">#}
    {#                            <div class="couple-img">#}
    {#                                <img src="{% static 'images/couple/2.jpg' %}" alt="">#}
    {#                            </div>#}
    {#                            <h3>Daniel Oliver</h3>#}
    {#                            <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus#}
    {#                                vel facilisis give you com of system. </p>#}
    {#                            <div class="social">#}
    {#                                <ul>#}
    {#                                    <li><a href="#"><i class="ti-facebook"></i></a></li>#}
    {#                                    <li><a href="#"><i class="ti-twitter-alt"></i></a></li>#}
    {#                                    <li><a href="#"><i class="ti-instagram"></i></a></li>#}
    {#                                </ul>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="middle-couple-pic">#}
    {#                            <img src="{% static 'images/couple/1.jpg' %}" alt="">#}
    {##}
    {#                            <div class="frame-img"><img src="{% static 'images/couple/shape.png' %}" alt=""></div>#}
    {#                        </div>#}
    {#                        <div class="text-grid groom">#}
    {#                            <div class="couple-img">#}
    {#                                <img src="{% static 'images/couple/3.jpg' %}" alt="">#}
    {#                            </div>#}
    {#                            <h3>Sarah Margrate</h3>#}
    {#                            <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus#}
    {#                                vel facilisis give you com of system. </p>#}
    {#                            <div class="social">#}
    {#                                <ul>#}
    {#                                    <li><a href="#"><i class="ti-facebook"></i></a></li>#}
    {#                                    <li><a href="#"><i class="ti-twitter-alt"></i></a></li>#}
    {#                                    <li><a href="#"><i class="ti-instagram"></i></a></li>#}
    {#                                </ul>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div> <!-- end container -->#}
    {#    </section>#}
    {#    <!-- end couple-section -->#}


    <!-- start wpo-cta-section -->

    <div class="wpo-cta-section-s3 brfc" style="margin-top: 100px">
        <div class="conatiner-fluid">
            <div class="wpo-cta-item">
                <p class="brfc__h">Taklifnoma</p>
                <p class="brfc__p">
                    Assalomu Alaykum!!!
                    Xurmatli Qadrdonim!
                    <br>
                    Bizning baxtli kunimiz shoxidi bo'lishingizdan
                    <br>
                    mamnun ekanligimizni izhor etgan holda
                    <br>
                    Sizni Unitilmas Kun, Nikoh to'yi munosabati bilan
                    <br>
                    Toshkent shahri, Olmazor tumani, "Ofarin" to'yxonasida
                    yoziladigan
                    <br>
                    bazm dasturxonimizga taklif etamiz <br>
                    <span class="brfc__span">Xurmat va ehtirom ila Jaylov ota o'gli <br> Faxriddin Nosirovlar oilasi</span>
                </p>
            </div>
        </div>
    </div>

    <!-- end wpo-cta-section -->

    <!-- start wpo-event-section -->
    <section class="wpo-event-section section-padding" id="event">
        <div class="container">
            <div class="row">
                <div class="wpo-section-title-s2">
                    <div class="section-title-simg">
                        <img src="{% static 'images/section-title2.png' %}" alt="">
                    </div>
                    <h2>To'yxona manzili va Vaqti</h2>
                    <div class="section-title-img">
                        <div class="round-ball"></div>
                    </div>
                </div>
            </div>
            <div class="wpo-event-wrap trtr">
                <div class="row">
                    <div class="col">
                        <div class="wpo-event-item">
                            <div class="wpo-event-text">
                                <ul class="trtr__ul">
                                    <li style=" margin-bottom: 20px !important;">18 Noyabr,
                                        2022 yil, Juma
                                        soat 18:00
                                    </li>
                                    <li>Toshkent shahar. Olmazor tumani. "Ofarin"
                                        to'yxonasi
                                    </li>
                                    <li>Mo'ljal: Shifokorlar shaharchasi</li>

                                    <li style="font-size: 30px!important;">
                                        <a target="_blank"
                                           href="https://maps.app.goo.gl/niRVXnqLXyomH1zRA">
                                            Joylashuv
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="event-shape-1">
                                <img src="{% static 'images/event-shape-1.png' %}" alt="">
                            </div>
                            <div class="event-shape-2">
                                <img src="{% static 'images/event-shape-2.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- end container -->
    </section>
    <!-- end wpo-event-section -->

    <!-- start wpo-video-section -->
    <section class="wpo-video-section-s2">
        <h2 class="hidden">some</h2>
        <div class="wpo-video-item">
            <div class="wpo-video-img">
                <img src="{% static 'images/cta2.jpg' %}" alt="">

            </div>
        </div>
    </section>
    <!-- end wpo-video-section-->

    <!-- start wpo-blog-section -->
    <section class="wpo-blog-section-s3 section-padding" id="blog">
        <div class="container">
            <div class="row">
                <div class="wpo-section-title-s2">
                    <div class="section-title-simg">
                        <img src="{% static 'images/section-title2.png' %}" alt="">
                    </div>
                    <h2>From Our Blog</h2>
                    <div class="section-title-img">
                        <div class="round-ball"></div>
                    </div>
                </div>
            </div>
            <div class="wpo-blog-items">
                <div class="row">
                    <div class="col col-lg-4 col-md-6 col-12">
                        <div class="wpo-blog-item">
                            <div class="wpo-blog-img">
                                <img src="{% static 'images/blog/img-1.jpg' %}" alt="">
                            </div>
                            <div class="wpo-blog-content">
                                <ul>
                                    <li>By <a href="#">Loura Sweety</a></li>
                                    <li>25 Sep 2023</li>
                                </ul>
                                <h2><a href="#">Best wedding gift you may
                                    like & choose.</a>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-4 col-md-6 col-12">
                        <div class="wpo-blog-item">
                            <div class="wpo-blog-img">
                                <img src="{% static 'images/blog/img-2.jpg' %}" alt="">
                            </div>
                            <div class="wpo-blog-content">
                                <ul>
                                    <li>By <a href="#">David Luis</a></li>
                                    <li>23 Sep 2023</li>
                                </ul>
                                <h2><a href="#">Photography is the important part of wedding.</a>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-4 col-md-6 col-12">
                        <div class="wpo-blog-item">
                            <div class="wpo-blog-img">
                                <img src="{% static 'images/blog/img-3.jpg' %}" alt="">
                            </div>
                            <div class="wpo-blog-content">
                                <ul>
                                    <li>By <a href="#">Aliana de</a></li>
                                    <li>21 Sep 2023</li>
                                </ul>
                                <h2><a href="#">Top 10 wedding fresh flower decoration idea.</a>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- end container -->
    </section>
    <!-- end wpo-blog-section -->

    <!-- All JavaScript files
    ================================================== -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Plugins for this template -->
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
    <script src="{% static 'js/jquery.dlmenu.js' %}"></script>
    <script src="{% static 'js/jquery-plugin-collection.js' %}"></script>
    <!-- Custom script for this template -->
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>